<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.br.baseproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.br.baseproject.application.RegistrationApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomDatabaseMVVM"
        tools:targetApi="32">
        <activity
            android:name=".ui.view.ChatActivity"
            android:exported="false"
            android:label="@string/title_activity_chat" />
        <activity
            android:name=".ui.view.SplashActivity"
            android:exported="true"
            android:parentActivityName=".ui.view.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.auth.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ui.view.auth.LoginActivity" />
        <activity
            android:name=".ui.view.auth.RecoverAccountActivity"
            android:exported="false"
            android:parentActivityName=".ui.view.auth.LoginActivity" />
        <activity
            android:name=".ui.view.NewRegistrationActivity"
            android:exported="false"
            android:parentActivityName=".ui.view.RegistrationActivity" />
        <activity
            android:name=".ui.view.RegistrationActivity"
            android:exported="false"
            android:parentActivityName=".ui.view.DashboardActivity" />
    </application>

</manifest>